/* Cares
----------------------------------------*/
.cares__body{
    display: flex;
    min-height: calc(100vh - 150px);
}
.cares__left{
    width: 48%;
}
.cares__right{
    width: 52%;
    padding-left: 5px;
    margin-top: -60px;
}

/* Care filter
----------------------------------------*/
.care-filter {
    background-color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    width: 48%;
}
.care-filter__buttons {
    display: flex;
    grid-gap: 10px;
}
.care-filter__button {
    color: var(--color-blue);
    font-size: 24px;
    border: 1px solid #e5e6e7;
    border-radius: 2px;
    height: 35px;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 0 7px;
    min-width: 40px;
    justify-content: center;
}
.care-filter__button:hover{
    background-color: #f1f1f1;
}
.care-filter__button--active{
    color: #fff !important;
    border-color: var(--color-blue) !important;
    background-color: var(--color-blue) !important;
}
.care-filter__items {
    display: flex;
    grid-gap: 10px;
}
.care-filter__input{
    border: 1px solid #e5e6e7;
    height: 35px;
}
.care-filter__date{
    width: 245px;
}
.care-filter__left {
    display: flex;
    align-items: center;
}
.care-filter__checkbox {
    margin-left: 20px;
}
.care-filter__checkbox-label {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.care-filter__checkbox-input {
    display: none;
}
.care-filter__checkbox-mark {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 18px;
    color: #fff;
}
.care-filter__checkbox-input:checked ~ .care-filter__checkbox-mark {
    background-color: #2196F3;
}
.care-filter__checkbox-mark:before {
    content: '';
}
.care-filter__checkbox-input:checked ~ .care-filter__checkbox-mark:before {
    content: "\e916";
}

/* Care table
----------------------------------------*/
.care-table {
    background-color: #fff;
}
.care-table thead th{
    padding: 10px 5px 5px 5px;
    text-align: left;
    color: var(--color-nice);
}
.care-table thead th a{
    color: inherit;
}
.care-table thead td{
    padding: 0 5px 5px 5px;
}
.care-table tbody tr{
    border-top: 2px solid #f6f6f6;
}
.care-table tbody td{
    padding: 6px 10px;
    font-size: 12px;
    vertical-align: middle;
    white-space: nowrap;
}
.care-table tbody tr:not(.empty-row):hover td,
.care-table__tr--active td{
    cursor: pointer;
    background-color: #e0e5f7;
}
.care-table__customer{
    display: flex;
    align-items: center;
}
.care-table__star{
    margin-right: 5px;
    font-size: 14px;
    color: var(--color-gray);
}
.care-table__star--green {
    color: var(--color-green);
}
.care-table__star--yellow {
    color: var(--color-yellow);
}
.care-table__star--red {
    color: var(--color-red);
}
.care-table .asc:after,
.care-table .desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'icons', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 3px;
}
.care-table .asc:after {
    content: "\e90e";
}
.care-table .desc:after {
    content: "\e90f";
}
.care-table__phone{
    padding: 6px;
    font-size: 12px;
}
.care-table__text--positive{
    color: var(--color-green);
}
.care-table__text--negative{
    color: var(--color-red);
}

/* Care step
----------------------------------------*/
.care-step {
    display: flex;
    grid-gap: 3px;
}
.care-step__item {
    background: #eef0f2;
    width: 20px;
    height: 14px;
}
.care-step__item:first-child {
    border-radius: 10px 0 0 10px;
}
.care-step__item:last-child {
    border-radius: 0 10px 10px 0;
}
.care-step__item--good {
    background: var(--color-green);
}
.care-step__item--normal {
    background: var(--color-yellow);
}
.care-step__item--bad {
    background: var(--color-red);
}

/* Care
----------------------------------------*/
.care {
    height: 100%;
}
.care__left {
    width: 54%;
    padding-right: 5px;
}
.care__right {
    width: 46%;
    background-color: #fff;
}

/* Care detail
----------------------------------------*/
.care-detail {
    height: calc(100% - 135px);
    padding-top: 5px;
    display: flex;
}

/* Care top
----------------------------------------*/
.care-top{
    background-color: #fff;
    height: 135px;
    padding: 6px 10px;
}
.care-top::-webkit-scrollbar {
    width: 6px;
}

/* Care info
----------------------------------------*/
.care-info__row{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}
.care-info__item{
    margin-bottom: 7px;
}
.care-info__row:last-child .care-info__item {
    margin-bottom: 0;
}
.care-info__label {
    font-weight: 600;
    color: var(--color-nice);
    margin-bottom: 3px;
}
.care-info__text{
    height: 95px;
}

/* Care header
----------------------------------------*/
.care-header {
    height: 100px;
    background-color: #fff;
    margin-bottom: 5px;
    padding: 10px 15px;
    display: flex;
}
.care-header__left{
    flex: 1;
}
.care-header__right{
    min-width: 232px;
    display: flex;
    flex-direction: column;
}
.care-header__item:not(:last-child){
    margin-bottom: 2px;
}
.care-header__label{
    font-weight: 600;
    color: var(--color-nice);
}
.care-header__time{
    margin-top: 10px;
}

/* Care body
----------------------------------------*/
.care-body{
    height: calc(100% - 105px);
    background-color: #fff;
    padding: 10px 15px;
}
.care-body__items{
    margin-bottom: 17px;
    min-height: 498px;
}
.care-body__item {
    display: flex;
}
.care-body__item:not(:last-child){
    margin-bottom: 7px;
}
.care-body__item--store_number,
.care-body__item--delivery_late{
    display: none;
}
.care-body__label {
    width: 170px;
    display: block;
    font-weight: 600;
    color: var(--color-nice);
    padding-top: 6px;
}
.care-body__block {
    flex: 1;
    padding-left: 5px;
    position: relative;
}
.care-body__block--group{
    display: flex;
}
.care-body__detail {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    border: 1px solid #e5e6e7;
    border-radius: 3px;
    padding: 0 10px 2px 10px;
}
.care-body__detail:hover{
    background-color: #f3f6ff;
}
.care-body__input-icon {
    position: absolute;
    top: 7px;
    font-size: 20px;
    right: 8px;
    display: inline-block;
    color: var(--color-gray);
}
.care-body__input-icon--green{
    color: var(--color-green);
}
.care-body__input-icon--blue{
    color: var(--color-blue);
}
.care-body__link{
    display: inline-block;
    margin-top: 2px;
}
.care-body__link:hover{
    text-decoration: underline;
}
.care-body__address,
.care-body__comment{
    height: 62px;
    resize: none;
}

/* Care footer
----------------------------------------*/
.care-footer{
    display: flex;
    position: relative;
}
.care-footer__right{
    flex: auto;
    display: flex;
    justify-content: end;
    grid-gap: 7px;
}

/* Care actions
----------------------------------------*/
.care-actions{
    display: none;
    position: absolute;
    padding: 10px 15px;
    background: #fff;
    border: 1px solid #eee;
    left: 0;
    width: 350px;
    bottom: 100%;
    margin-bottom: 5px;
}
.care-actions__heading{
    font-weight: 700;
    margin-bottom: 10px;
}
.care-actions__item:not(:last-child){
    margin-bottom: 3px;
}
.care-actions__link:hover{
    text-decoration: underline;
}

/* Care history
----------------------------------------*/
.care-history{
    position: relative;
    height: 100%;
}
.care-history__top{
    padding: 10px 15px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 2;
}
.care-history__heading{
    text-transform: uppercase;
    font-weight: 600;
    color: var(--color-nice);
    line-height: 20px;
}
.care-history__body{
    background-color: #f3f6ff;
    height: 100%;
    overflow-y: scroll;
    padding: 50px 15px 15px 15px;
    max-height: 625px;
}
.care-history__body::-webkit-scrollbar {
    width: 6px;
}
.care-history__footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
}
.care-history__input{
    border: none;
    font-size: 14px;
    height: 48px;
    padding: 5px 200px 5px 15px;
    border-radius: 0;
}
.care-history__input:focus{
    box-shadow: 0 -1.5px var(--color-blue);
}
.care-history__actions{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    background-color: #fff;
    grid-gap: 15px;
    padding-right: 10px;
}
.care-history__action {
    border: 0;
    background-color: snow;
    font-size: 20px;
    color: var(--color-gray);
}
.care-history__action:hover{
    color: var(--color-blue);
}
.care-history__sms{
    font-size: 14px;
}
.care-history__send{
    color: #fff;
    background-color: var(--color-blue);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    font-size: 16px;
    padding-left: 2px;
}
.care-history__send:hover{
    color: #fff;
    background-color: rgba(24, 117, 240, 0.84);
}

/* Care chat
----------------------------------------*/
.care-chat__item {
    display: flex;
    position: relative;
}
.care-chat__item:not(:last-child) {
    margin-bottom: 15px;
}
.care-chat__bot{
    height: 35px;
    margin: 3px 12px 0 0;
}
.care-chat__user{
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px 12px 0 0;
    background-color: #ccc;
    color: #ffffff;
    border-radius: 50%;
    font-size: 24px;
}
.care-chat__block {
    flex: 1;
    color: var(--color-nice);
}
.care-chat__block--green{
    box-shadow: -2px 0 0 0 var(--color-green);
}
.care-chat__author {
    font-weight: 600;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
}
.care-chat__role {
    font-weight: 400;
    color: var(--color-gray);
    margin-left: 5px;
}
.care-chat__date {
    position: absolute;
    top: 5px;
    right: 8px;
    font-size: 12px;
    color: var(--color-nice);
}
.care-chat__event {
    justify-content: end;
}
.care-chat__event .care-chat__block {
    width: 82%;
    background-color: #fff;
    flex: none;
    padding: 5px 10px;
    border-radius: 6px;
}
.care-chat__event .care-chat__date{
    color: var(--color-gray);
}
.care-chat__status{
    display: flex;
    align-items: center;
}
.care-chat__arrow{
    margin: 0 5px;
    font-size: 14px;
}
.care-chat__icon {
    font-size: 16px;
    display: inline-block;
    vertical-align: text-top;
    color: var(--color-nice);
}
.care-chat__details {
    display: block;
    margin-top: 10px;
}
.care-chat__details-item {
    display: block;
}
.care-chat__item--important{
    border-left: 2px solid #ffec3a;
}
.care-chat__item--successful{
    border-left: 2px solid #28a745;
}
.care-chat__item--danger{
    border-left: 2px solid #e90000;
}
.care-chat__item--info{
    border-left: 2px solid #5983fe;
}

/* Care sms
----------------------------------------*/
.care-sms{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    margin-bottom: 5px;
    background-color: #fff;
    padding: 10px 15px;
}
.care-sms__heading {
    font-weight: 700;
    color: var(--color-nice);
    margin-bottom: 10px;
}
.care-sms__select {
    margin-bottom: 10px;
}
.care-sms__input {
    margin-bottom: 10px;
}
.care-sms__footer {
    display: flex;
    justify-content: end;
}

/* Care call
----------------------------------------*/
.care-call{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    margin-bottom: 5px;
    background-color: #fff;
    padding: 10px 15px;
}
.care-call__heading {
    font-weight: 700;
    color: var(--color-nice);
    margin-bottom: 10px;
}
.care-call__item:not(:last-child){
    margin-bottom: 3px;
}
.care-call__link:hover{
    text-decoration: underline;
}

/* Care stars
----------------------------------------*/
.care-stars{
    position: relative;
    top: 2px;
}
.care-star{
    color: #ccc;
}
.care-stars--1 .care-star:nth-child(1),
.care-stars--2 .care-star:nth-child(-n + 2),
.care-stars--3 .care-star:nth-child(-n + 3){
    color: #e90000;
}
.care-stars--4 .care-star:nth-child(-n + 4),
.care-stars--5 .care-star:nth-child(-n + 5){
    color: #28a745;
}