/* Variables
----------------------------------------*/
:root{
    --color-text: #12263f;
    --color-brand: #ffcc01;
    --color-dark: #31373c;
    --color-blue: #1875f0;
    --color-green: #00b956;
    --color-yellow: #ffe650;
    --color-red: #e90000;
    --color-nice: #53555f;
    --color-gray: #adadad;
}

/* Global settings
----------------------------------------*/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html{
    -webkit-text-size-adjust: 100%;
    padding: 0;
    margin: 0;
}
body{
    font-family: Tahoma, Arial, Verdana, sans-serif;
    font-size: 13px;
    color: var(--color-text);
    background-color: #eee;
    text-rendering: optimizeLegibility;
    line-height: 1.5;
    margin: 0;
    overflow-y: scroll;
}
img{
    vertical-align: top;
}
a{
    text-decoration: none;
}

/* Alert
--------------------------------------*/
.alert {
    position: fixed;
    bottom: 0;
    color: #fff !important;
    padding: 25px !important;
    border-radius: 0 !important;
    border: none !important;
    width: 100%;
    display: table;
    margin: 0 !important;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    left: 0;
    right: 0;
    z-index: 9999;
    opacity: 0.95 !important;
    line-height: 1.3;
}
.alert-danger {
    background-color: #ef5350;
}
.alert-success {
    background-color: #68b541;
}
.alert-warning {
    background-color: #ffcc00;
}
.alert__close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 22px;
    cursor: pointer;
}

/* Page
----------------------------------------*/
.page__header{
    background-color: #fff;
    text-align: center;
    padding: 15px;
    position: relative;
}
.page__back {
    font-size: 26px;
    color: var(--color-nice);
    position: absolute;
    top: 50%;
    margin-top: -13px;
    left: 15px;
}
.page__title{
    margin: 0;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
}
.page__body{
    padding: 20px;
}

/* Payment list
----------------------------------------*/
.payment-list__item {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 6px;
    min-height: 75px;
}
.payment-list__item:not(:last-child) {
    margin-bottom: 20px;
}
.payment-list__icon {
    height: 40px;
    margin-right: 20px;
}
.payment-list__info{
    flex: 1;
    color: var(--color-text);
}
.payment-list__name {
    font-size: 16px;
    display: block;
}
.payment-list__additional{
    font-size: 12px;
    color: var(--color-nice);
}
.payment-list__arrow {
    font-size: 26px;
    color: var(--color-nice);
}