@font-face{
    font-family: 'icons';
    src: url('../fonts/icons/icons.eot?4cjwfp');
    src: url('../fonts/icons/icons.eot?4cjwfp#iefix') format('embedded-opentype'),
    url('../fonts/icons/icons.ttf?4cjwfp') format('truetype'),
    url('../fonts/icons/icons.woff?4cjwfp') format('woff'),
    url('../fonts/icons/icons.svg?4cjwfp#icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
[class^="icon-"], [class*=" icon-"]{
    font-family: 'icons', sans-serif !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-first_page:before {
    content: "\e91f";
}
.icon-last_page:before {
    content: "\e920";
}
.icon-error_outline:before {
    content: "\e919";
}
.icon-warning:before {
    content: "\e918";
}
.icon-library_books:before {
    content: "\e909";
}
.icon-call:before {
    content: "\e917";
}
.icon-email:before {
    content: "\e91e";
}
.icon-add:before {
    content: "\e910";
}
.icon-close:before {
    content: "\e90d";
}
.icon-filter_list:before {
    content: "\e911";
}
.icon-send:before {
    content: "\e914";
}
.icon-dvr:before {
    content: "\e91c";
}
.icon-storage:before {
    content: "\e90c";
}
.icon-keyboard_arrow_down:before {
    content: "\e901";
}
.icon-keyboard_arrow_left:before {
    content: "\e902";
}
.icon-keyboard_arrow_right:before {
    content: "\e903";
}
.icon-keyboard_arrow_up:before {
    content: "\e904";
}
.icon-local_grocery_store:before {
    content: "\e900";
}
.icon-arrow_forward:before {
    content: "\e915";
}
.icon-check:before {
    content: "\e916";
}
.icon-more_vert:before {
    content: "\e90a";
}
.icon-refresh:before {
    content: "\e912";
}
.icon-arrow_upward:before {
    content: "\e90e";
}
.icon-arrow_downward:before {
    content: "\e90f";
}
.icon-notifications:before {
    content: "\e905";
}
.icon-person:before {
    content: "\e906";
}
.icon-star:before {
    content: "\e913";
}
.icon-favorite:before {
    content: "\e91b";
}
.icon-search:before {
    content: "\e91a";
}
.icon-settings:before {
    content: "\e907";
}
.icon-logout:before {
    content: "\e908";
}
.icon-analytics:before {
    content: "\e90b";
}
.icon-whatsapp:before {
    content: "\e91d";
}