/* Lead filter
----------------------------------------*/
.lead-filter {
    background-color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.lead-filter__buttons {
    display: flex;
    grid-gap: 10px;
}
.lead-filter__button {
    color: var(--color-blue);
    font-size: 24px;
    border: 1px solid #e5e6e7;
    border-radius: 2px;
    height: 35px;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 0 7px;
}
.lead-filter__button:hover{
    background-color: #f1f1f1;
}
.lead-filter__button--active{
    color: #fff !important;
    border-color: var(--color-blue) !important;
    background-color: var(--color-blue) !important;
}
.lead-filter__items {
    display: flex;
    grid-gap: 10px;
}
.lead-filter__input{
    border: 1px solid #e5e6e7;
    height: 35px;
}
.lead-filter__date{
    width: 245px;
}

/* Lead columns
----------------------------------------*/
.lead-columns{
    grid-gap: 12px;
    display: flex;
    overflow: auto;
    padding-bottom: 7px;
}
.lead-columns__column{
    min-width: 250px;
    max-width: 340px;
    flex: 1;
}
.lead-columns__heading {
    display: flex;
    align-items: center;
    padding: 0 10px 0 12px;
    height: 35px;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 10px;
    border-radius: 4px;
}
.lead-columns__count {
    font-weight: 500;
    margin-left: 3px;
    font-size: 10px;
}
.lead-columns__column--new .lead-columns__heading {
    background-color: #fff176;
}
.lead-columns__column--process .lead-columns__heading {
    background-color: #64b5f6;
}
.lead-columns__column--pending .lead-columns__heading {
    background-color: #ffb74d;
}
.lead-columns__column--success_b2b .lead-columns__heading {
    background-color: #81c784;
}
.lead-columns__column--success_b2c .lead-columns__heading {
    background-color: #81c784;
}
.lead-columns__column--closed .lead-columns__heading {
    background-color: #e57373;
}
.lead-columns__column--cancelled .lead-columns__heading {
    background-color: #9e9e9e;
}
.lead-columns__items{
    overflow-y: scroll;
    height: calc(100vh - 210px);
    padding: 2px 3px 0 0;
}
.lead-columns__items::-webkit-scrollbar-track{
    background-color: transparent;
}

/* Lead item
----------------------------------------*/
.lead-item{
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-left-width: 2px;
    cursor: pointer;
    position: relative;
    top: 0;
}
.lead-item:not(:last-child){
    margin-bottom: 12px;
}
.lead-item:hover{
    top: -2px;
}
.lead-columns__column--new .lead-item{
    border-color: #fff176;
}
.lead-columns__column--process .lead-item{
    border-color: #64b5f6;
}
.lead-columns__column--pending .lead-item{
    border-color: #ffb74d;
}
.lead-columns__column--success_b2b .lead-item{
    border-color: #81c784;
}
.lead-columns__column--success_b2c .lead-item{
    border-color: #81c784;
}
.lead-columns__column--closed .lead-item{
    border-color: #e57373;
}
.lead-columns__column--cancelled .lead-item{
    border-left: 2px solid #9e9e9e;
}
.lead-item__title {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 10px;
}
.lead-item:hover .lead-item__title {
    color: var(--color-blue);
}
.lead-item__channel {
    font-size: 10px;
    display: inline-block;
    padding: 2px 8px;
    border-radius: 15px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 5px;
}
.lead-item__channel--crm{
    background-color: #2196f3;
}
.lead-item__channel--jivosite_site{
    background-color: #607d8b;
}
.lead-item__channel--jivosite_whatsapp{
    background-color: #9c27b0;
}
.lead-item__channel--jivosite_instagram{
    background-color: #00c05a;
}
.lead-item__date{
    color: var(--color-gray);
    font-size: 11px;
    font-weight: 700;
}

/* Lead modal
----------------------------------------*/
.lead-modal{
    position: fixed;
    top: 60px;
    right: -1200px;
    bottom: 0;
    width: 1000px;
    max-width: 90%;
    background-color: #f6f6f6;
    z-index: 10;
}
.lead-modal--active{
    right: 0;
}

/* Lead back
----------------------------------------*/
.lead-back{
    background-color: rgba(0,0,0,.4);
    filter: alpha(opacity=0);
    opacity: 0;
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
}
.lead-back--active{
    filter: alpha(opacity=100);
    opacity: 1;
    pointer-events: auto;
}

/* Lead
----------------------------------------*/
.lead {
    height: 100%;
}
.lead__left {
    width: 54%;
    padding-right: 5px;
}
.lead__right {
    width: 46%;
    background-color: #fff;
}

/* Lead detail
----------------------------------------*/
.lead-detail {
    height: calc(100% - 60px);
    padding-top: 5px;
    display: flex;
}

/* Lead top
----------------------------------------*/
.lead-top{
    background-color: #fff;
    height: 60px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lead-top__title {
    font-size: 18px;
}
.lead-top__actions {
    display: flex;
    align-items: center;
    grid-gap: 10px;
}
.lead-top__action{
    border: 1px solid var(--color-dark);
    height: 36px;
    min-width: 40px;
    padding: 0 15px;
    background-color: #ffff;
    font-size: 14px;
    justify-content: center;
    border-radius: 4px;
    color: inherit;
    display: flex;
    align-items: center;
}
.lead-top__action--icon{
    font-size: 18px;
    padding: 0 10px;
}
.lead-top__action:hover{
    color: #fff;
    background-color: var(--color-dark);
}

/* Lead info
----------------------------------------*/
.lead-info__row{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}
.lead-info__item:not(:last-child) {
    margin-bottom: 7px;
}
.lead-info__label {
    font-weight: 600;
    color: var(--color-nice);
    margin-bottom: 5px;
}
.lead-info__text{
    height: 95px;
}

/* Lead header
----------------------------------------*/
.lead-header {
    height: 100px;
    background-color: #fff;
    margin-bottom: 5px;
    padding: 10px 15px;
    display: flex;
}
.lead-header__left{
    flex: 1;
}
.lead-header__right{
    min-width: 232px;
    display: flex;
    flex-direction: column;
}
.lead-header__item:not(:last-child){
    margin-bottom: 2px;
}
.lead-header__label{
    font-weight: 600;
    color: var(--color-nice);
}
.lead-header__time{
    margin-top: 10px;
}

/* Lead body
----------------------------------------*/
.lead-body{
    height: calc(100% - 105px);
    background-color: #fff;
    padding: 10px 15px;
}
.lead-body__items{
    margin-bottom: 15px;
    min-height: calc(100vh - 301px);
}
.lead-body__item {
    display: flex;
}
.lead-body__item:not(:last-child){
    margin-bottom: 7px;
}
.lead-body__label {
    width: 170px;
    display: block;
    font-weight: 600;
    color: var(--color-nice);
    padding-top: 6px;
}
.lead-body__block {
    flex: 1;
    padding-left: 5px;
    position: relative;
}
.lead-body__block--group{
    display: flex;
}
.lead-body__detail {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    border: 1px solid #e5e6e7;
    border-radius: 3px;
    padding: 0 10px 2px 10px;
}
.lead-body__detail:hover{
    background-color: #f3f6ff;
}
.lead-body__input-icon {
    position: absolute;
    top: 7px;
    font-size: 20px;
    right: 8px;
    display: inline-block;
    color: var(--color-gray);
}
.lead-body__input-icon--green{
    color: var(--color-green);
}
.lead-body__input-icon--blue{
    color: var(--color-blue);
}
.lead-body__link{
    display: inline-block;
    margin-top: 2px;
}
.lead-body__link:hover{
    text-decoration: underline;
}
.lead-body__address,
.lead-body__comment{
    height: 62px;
    resize: none;
}

/* Lead footer
----------------------------------------*/
.lead-footer{
    display: flex;
    position: relative;
}
.lead-footer__right{
    flex: auto;
    display: flex;
    justify-content: end;
    grid-gap: 7px;
}

/* Lead actions
----------------------------------------*/
.lead-actions{
    display: none;
    position: absolute;
    padding: 10px 15px;
    background: #fff;
    border: 1px solid #eee;
    left: 0;
    width: 350px;
    bottom: 100%;
    margin-bottom: 5px;
}
.lead-actions__heading{
    font-weight: 700;
    margin-bottom: 10px;
}
.lead-actions__item:not(:last-child){
    margin-bottom: 3px;
}
.lead-actions__link:hover{
    text-decoration: underline;
}

/* Lead history
----------------------------------------*/
.lead-history{
    position: relative;
    height: 100%;
}
.lead-history__top{
    padding: 10px 15px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 2;
}
.lead-history__heading{
    text-transform: uppercase;
    font-weight: 600;
    color: var(--color-nice);
    line-height: 20px;
}
.lead-history__body{
    background-color: #f3f6ff;
    height: 100%;
    overflow-y: scroll;
    padding: 50px 15px 60px 15px;
    max-height: 752px;
}
.lead-history__body::-webkit-scrollbar {
    width: 6px;
}
.lead-history__footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
}
.lead-history__input{
    border: none;
    font-size: 14px;
    height: 48px;
    padding: 5px 200px 5px 15px;
    border-radius: 0;
}
.lead-history__input:focus{
    box-shadow: 0 -1.5px var(--color-blue);
}
.lead-history__actions{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    background-color: #fff;
    grid-gap: 15px;
    padding-right: 10px;
}
.lead-history__action {
    border: 0;
    background-color: snow;
    font-size: 20px;
    color: var(--color-gray);
}
.lead-history__action:hover{
    color: var(--color-blue);
}
.lead-history__sms{
    font-size: 14px;
}
.lead-history__send{
    color: #fff;
    background-color: var(--color-blue);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    font-size: 16px;
    padding-left: 2px;
}
.lead-history__send:hover{
    color: #fff;
    background-color: rgba(24, 117, 240, 0.84);
}

/* Lead chat
----------------------------------------*/
.lead-chat__item {
    display: flex;
    position: relative;
}
.lead-chat__item:not(:last-child) {
    margin-bottom: 15px;
}
.lead-chat__bot{
    height: 35px;
    margin: 3px 12px 0 0;
}
.lead-chat__user{
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px 12px 0 0;
    background-color: #ccc;
    color: #ffffff;
    border-radius: 50%;
    font-size: 24px;
}
.lead-chat__block {
    flex: 1;
    color: var(--color-nice);
}
.lead-chat__block--green{
    box-shadow: -2px 0 0 0 var(--color-green);
}
.lead-chat__author {
    font-weight: 600;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
}
.lead-chat__role {
    font-weight: 400;
    color: var(--color-gray);
    margin-left: 5px;
}
.lead-chat__date {
    position: absolute;
    top: 5px;
    right: 8px;
    font-size: 12px;
    color: var(--color-nice);
}
.lead-chat__event {
    justify-content: end;
}
.lead-chat__event .lead-chat__block {
    width: 82%;
    background-color: #fff;
    flex: none;
    padding: 5px 10px;
    border-radius: 6px;
}
.lead-chat__event .lead-chat__date{
    color: var(--color-gray);
}
.lead-chat__status{
    display: flex;
    align-items: center;
}
.lead-chat__arrow{
    margin: 0 5px;
    font-size: 14px;
}
.lead-chat__icon {
    font-size: 16px;
    display: inline-block;
    vertical-align: text-top;
    color: var(--color-nice);
}
.lead-chat__details {
    display: block;
    margin-top: 10px;
}
.lead-chat__details-item {
    display: block;
}
.lead-chat__item--important{
    border-left: 2px solid #ffec3a;
}
.lead-chat__item--successful{
    border-left: 2px solid #28a745;
}
.lead-chat__item--danger{
    border-left: 2px solid #e90000;
}
.lead-chat__item--info{
    border-left: 2px solid #5983fe;
}

/* Lead sms
----------------------------------------*/
.lead-sms{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    margin-bottom: 5px;
    background-color: #fff;
    padding: 10px 15px;
}
.lead-sms__heading {
    font-weight: 700;
    color: var(--color-nice);
    margin-bottom: 10px;
}
.lead-sms__select {
    margin-bottom: 10px;
}
.lead-sms__input {
    margin-bottom: 10px;
}
.lead-sms__footer {
    display: flex;
    justify-content: end;
}

/* Lead call
----------------------------------------*/
.lead-call{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    margin-bottom: 5px;
    background-color: #fff;
    padding: 10px 15px;
}
.lead-call__heading {
    font-weight: 700;
    color: var(--color-nice);
    margin-bottom: 10px;
}
.lead-call__item:not(:last-child){
    margin-bottom: 3px;
}
.lead-call__link:hover{
    text-decoration: underline;
}